.cart-section{
    width: 80%;
    margin: auto;
    margin-top: 6rem;

    table{
        width: 100%;

        thead{
            background-color: rgb(65, 65, 65);
            height: 40px;
            color: white;
        }

        tbody{
            text-align: center;
            .product-img{
                width: 100px;
                display: block;
                margin: auto;
            }
            td{
                min-width: 200px !important;
            }
        }

        .no-result{
            font-weight: 700;
            font-size: 1rem;
            padding: 1rem;
        }
    }

    .delete{
        display: flex;
        margin-top: 2rem;
        justify-content: center;
        align-items: center;
        gap:10px;
        cursor: pointer;
    }

    #checkout{
        display: block;
        margin: auto;
        margin-top: 3rem;
        padding: 1rem 2rem;
        font-weight: 700;
        border-radius: 5px;
        background-color: rgb(255, 232, 212);
        cursor: pointer;
    }
}

.cart-section {
    overflow: auto;
}