.banner{
    background-color: rgb(255, 232, 212);
    width: 100%;
    min-height: 70vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .bannerContainer{
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;

        .banner__texto{
            font-size: calc(3vw + 1rem);
            width: 50%;
            span{
                color: rgb(255, 156, 69);
            }
        }

        img{
            width: 50%;
        }
        
    }
}


.product{
    width: 80%;
    margin: auto;
    padding: 2rem 0;
}

#product-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 4rem;

    .product-card{
        img{
            width: 100%;
            margin: auto;
        }
        .product-name{
            margin-bottom: 10px;
        }
        button{
            width: 100%;
            margin-top: 2rem;
            border-radius: 10px;
            outline: none;
            border: none;
            color: white;
            font-weight: 700;
            padding: 13px;
            cursor: pointer;
            background-color: rgb(65, 65, 65);
        }
    }
}


@media (max-width: 700px) {
    .bannerContainer{
        flex-direction: column !important;
        width: 90%;
        gap: 2rem;
        .banner__texto{
            width: 100% !important;
            text-align: center;
        }
        img{
            width: 80% !important;
        }
    }
    #product-container{
        grid-template-columns: repeat(1,1fr);
    }
}